*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.box {
  width: 1000px;
  height: 1000px;
  border: 2px solid black;

  display: flex;
  flex-wrap: wrap;
  padding: 0;

  --n: 16;

}

.boxInside {
  width: calc(100% / var(--n));
  height: calc(100% / var(--n));
  border: 2px solid black;
}

.boxInside.hovered {
  background-color: black;
}

